body{
  margin: 0;
  padding: 0;
}
.fondo{
    background-color: black;
}
.fondo2{
    background-color: rgb(24, 4, 34);
}  
a:hover {
    background-color: rgba(59, 10, 78, 0.473);
  }
.fondopiepag{
    padding-top: 30px;
    background-color: rgb(44, 43, 0);
  }
.silver-text {
    color: rgb(62, 68, 3);
}
.carrucel{
    width: 1100px;
    height: 670px;
    background-color: rgb(0, 2, 19);
}
.letra2{
  font-family: fantasy;
}
.item{
  padding-top: 20px;
  padding-bottom: 20px;
}
.letra{
  padding-left: 100px;
  padding-top: 50px;
  color: rgba(10, 102, 87, 0.856);
  font-family: fantasy;
}
.colorletra{
  color: rgb(139, 126, 126);
}
.fuente{
  color: rgb(197, 199, 201);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.animacion {
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 100%
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }
}
.animacion2{
  animation-duration:2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.card{
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.493);
  }
.cuadro:hover{
  transform : scale(1.2);
  }
.fondo3{
    padding-left: 30px;
    background-color: rgb(15, 15, 15)
  }
.info{
    width: 800px;
    height: 300px;
    background-color:rgb(58, 61, 61); 
  }
.mapa{
    padding-top: 20px;
    height: 362px;
    background-color:rgb(63, 0, 0);  
}
.formulario{
  margin-top: 150px;
  padding: 3px;
  background: linear-gradient(#38363a, #272727, rgb(0, 0, 0));
  margin: 0% auto;
}
.conocenos{
  width: 800px;
  height: 390px;
  background-color:rgb(58, 61, 61); }
.servicios{
  width: 800px;
  height: 380px;
  background-color:rgb(58, 61, 61); 
}
.letracono{
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(14, 13, 13);
}
.altura{
padding-top: 40px;
}
.marcas{
  padding-top: 85px;
  padding-bottom: 85px;
}
.icono{
  padding-top: 50px;
  padding-bottom: 50px;
}
.espaciop{
  padding-top: 30px;
  padding-bottom: 30px;
}
.login{
  padding-top: 100px;
  padding-bottom: 200px;
}
.registro{
  background: linear-gradient(#c7c3ca, #918c8c, rgb(92, 92, 92));
}
.dash{
  background: linear-gradient(#4e84a8, #888aa0);
}

.contenedor{
  width: 100%;
  padding: 15px;
}
.input-contenedor{
  margin-bottom: 15px;
  border: 1px solid rgba(170, 170, 170, 0);
  text-align: center;
}
.icon{
  min-width: 50px;
  text-align: center;
  color: rgb(8, 8, 8)
}
.button{
  border: none;
  width: 100%;
  color: rgba(255, 255, 255, 0.918);
  font-size: 20px;
  background:  #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background: cadetblue;
}
p{
  text-align: center;
}
.link{
  text-decoration: none;
    color: #1a2537;
  font-weight: 600;
}
.link:hover{
   color: cadetblue;
}
@media(min-width:768px)
{
  .formulario{
      margin: auto;
      width: 500px;
      margin-top: 150px;
      border-radius: 2%;
  }
}
.menuxd{
  z-index: 100px;
}

/* .carrito{
  margin-right: 10px;
  color: rgb(255, 255, 255);
  width: 100px;
} */

.sticky-container{
  padding:0px;
  margin:0px;
  position:fixed;
  right:-130px;
  top:230px;
  width:210px;
  z-index: 1100;
}
.sticky li{
  list-style-type:none;
  background-color:rgb(255, 255, 255);
  color:#efefef;
  height:43px;
  padding:0px;
  margin:0px 0px 1px 0px;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  cursor:pointer;
}
.sticky li:hover{
  margin-left:-115px;
}
.sticky li img{
  float:left;
  margin:5px 4px;
  margin-right:5px;
}
.sticky li p{
  padding-top:5px;
  margin:0px;
  line-height:16px;
  font-size:11px;
}
.sticky li p a{
  text-decoration:none;
  color:#2C3539;
}
.sticky li p a:hover{
  text-decoration:underline;
}
