<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/moaaxd.jpg')}}" width="5px">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOAA Style - Compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estilos.css') }}">

</head>
<body class ="fondo2">
    <center>
        <div class="fondo">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/logomoaa2.png') }}" class="img-fluid" alt="NO SALE LA PUTA IMAGEN" width="250px">
            </a>
        </div>
        <!-- menu -->
    </center>
    <div class="cabecera">
    </div>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{url_for('static', filename='img/moaa.1.png')}}" alt="" width="100" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('hombre')}}">Hombre</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('mujer')}}">Mujer</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('niño')}}">Niños</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('servicios')}}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('conocenos')}}">Conocenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('contactanos')}}">Contáctanos</a>
                    </li>
                </ul>
                <a href="../usuarios/login.html"><button type="button" class="btn btn-secondary">Iniciar Sesión
                    </button></a>
            </div>
        </div>
    </nav>
    <!-- menu2 -->
    <nav class="navbar navbar-expand fondo3">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active text-light" href="/">Inicio <span
                    class="visually-hidden">(current)</span></a>
        </div>
        <div class="text-light">
            / Hombre
        </div>
    </nav>
    </header>
    <section class="container">
        <div class="products">
            <div class="carts">
                <div>
                    <img src="./img/jogger/jogger1.png" alt="">
                    <p><span>19.99</span>$</p>
                </div>
                <p class="title">Jogger Cargo</p>
                <a href="" data-id="1" class="btn-add-cart">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/converse/converse1.jpg" alt="">
                    <p><span>35</span>$</p>
                </div>
                <p class="title"> Converse OROCHIMARU</p>
                <a href="" class="btn-add-cart" data-id="2">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/colecciones/coleccion1.png" alt="">
                    <p><span>15.50</span>$</p>
                </div>
                <p class="title"> Pantaloneta ANGEL</p>
                <a href="" data-id="3" class="btn-add-cart">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/hoodies/hoodie1.png" alt="">
                    <p><span>20.20</span>$</p>
                </div>
                <p class="title"> Sudera ANGELS</p>
                <a href="" data-id="4" class="btn-add-cart">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/hoodies/hoodie3.png" alt="">
                    <p><span>19</span>$</p>
                </div>
                <p class="title"> Sudadera Blanca MOAA</p>
                <a href="" data-id="5" class="btn-add-cart">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/hoodies/hoodie4.png" alt="">
                    <p><span>45</span>$</p>
                </div>
                <p class="title"> Sudadera Negra MOAA</p>
                <a href="" data-id="6" class="btn-add-cart">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/hoodies/hoodie5.png" alt="">
                    <p><span>23.99</span>$</p>
                </div>
                <p class="title"> Sudadera DAEMON </p>
                <a href="" data-id="7" class="btn-add-cart">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/hoodies/hoodie6.png" alt="">
                    <p><span>50</span>$</p>
                </div>
                <p class="title"> Sudadera EMPTINESS </p>
                <a href="" data-id="8" class="btn-add-cart">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/accesorios/accesorio10.jpg" alt="">
                    <p><span>16</span>$</p>
                </div>
                <p class="title"> Pulsera Red Snake</p>
                <a href="" data-id="9" class="btn-add-cart">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/accesorios/accesorio11.webp" alt="">
                    <p><span>17.50</span>$</p>
                </div>
                <p class="title"> Pulsera skeleton </p>
                <a href="" data-id="10" class="btn-add-cart">add to cart</a>
            </div>
            <div class="carts">
                <div>
                    <img src="./img/accesorios/accesorio12.webp" alt="">
                    <p><span>45</span>$</p>
                </div>
                <p class="title"> Pulsera snake skeleton </p>
                <a href="" data-id="11" class="btn-add-cart">add to cart</a>
            </div>
        </div>
    </section>

    <footer>
        <p class="author">🪐 by <a href="https://github.com/garu2" target="_blank">GaryAT</a></p>
    </footer>

    <script>
        function showCart(x){
            document.getElementById("products-id").style.display = "block";
        }
        function closeBtn(){
            document.getElementById("products-id").style.display = "none";
        }

    </script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>