<!doctype html>
<html lang="en">

<head>
    <title>MOAA Style - Productos - catalogo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../../img/moaaxd.jpg" type="image/png" width="5px">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/estilos.css">
    <link rel="stylesheet" href="../../css/sidebar.css">
</head>

<body class="fondo2">
    <center>
        <div class="fondo">
            <a class="navbar-brand" href="#">
                <img src="../../img/logomoaa2.png" class="img-fluid" alt="..." width="250px">
            </a>
        </div>
        <!-- menu -->
    </center>
    <div class="cabecera">
    </div>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../web/index.html">
                <img src="../../img/moaa.1.png" class="animacion" alt="" width="100" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../web/hombre.html">Hombre</a></li>
                            <li><a class="dropdown-item" href="../web/mujer.html">Mujer</a></li>
                            <li><a class="dropdown-item" href="../web/ninio.html">Niños</a></li>
                        </ul>
                    </li>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="../web/servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="../web/conocenos.html">Conocenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="../web/contactanos.html">Contáctanos</a>
                    </li>
                </ul>
                <a href="../usuarios/registro.html"><button type="button" class="btn btn-secondary">Iniciar Sesión
                    </button></a>
            </div>
        </div>
    </nav>
    <!-- menu2 -->
    <nav class="navbar navbar-expand fondo3">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active text-light" href="../web/index.html">Inicio <span
                    class="visually-hidden"></span></a>
        </div>
        <div class="text-light">
            / Catalogo
        </div>
    </nav>
    <!-- productos -->
    <div class="container">   
        <br>
        <h2 class="text-light icono">Catalogo</h2>
        <hr size="5px" color="black">
        <div class="container">
            <div class="row text-light espaciop">
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta Dark Anime
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shir1.png" alt="" width="325px" height="350px">
                            <hr>
                            <p><s>20.00</s> 18.99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta Dark MOAA
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt2.png" alt="" width="325px" height="350px">
                            <hr>
                            <p>19.00$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta Dark 
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt3.png" alt="" width="325px" height="350px">
                            <hr>
                            <p>24.99$</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row text-light espaciop">
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta SOUICHI TSUJI 
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt4.png"alt="" width="325px" height="350px">
                            <hr>
                            <p>19.00$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta ONIT
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt5.png" alt="" width="325px" height="350px">
                            <hr>
                            <p>19.00$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Cmiseta SKULL

                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt6.png" alt="" width="325px" height="350px">
                            <hr>
                            <p>19.00$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="container">
            <div class="row text-light espaciop">
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta BEETLE
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt7.png"alt="" width="325px" height="350px">
                            <hr>
                            <p>19.00$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta DARK BEAR
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt8.png" alt="" width="325px" height="350px">
                            <hr>
                            <p>18.99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                           Cmiseta HELL
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt9.png" alt="" width="325px" height="350px">
                            <hr>
                            <p>25.00$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="container">
            <div class="row text-light espaciop">
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta LILIA
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt10.png"alt="" width="325px" height="350px">
                            <hr>
                            <p>18.99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                           Camiseta RAGE
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt11.png" alt="" width="325px" height="350px">
                            <hr>
                            <p>19.00$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                           Camiseta Euphoria
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt12.png" alt="" width="325px" height="350px">
                            <hr>
                            <p> 25.99$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="container">
            <div class="row text-light espaciop">
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                           Camiseta NON-EXISTENT
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt13.png"alt="" width="325px" height="350px">
                            <hr>
                            <p>18.99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta CHINATOWN
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt14.png" alt="" width="325px" height="350px">
                            <hr>
                            <p>18.99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camiseta  BEIGE
                        </div>
                        <div class="card-body">
                            <img src="../../img/t-shirt/t-shirt15.png" alt="" width="325px" height="350px">
                            <hr>
                            <p>15.99$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-light espaciop">
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jogger Cargo
                    </div>
                    <div class="card-body">
                        <img src="../../img/jogger/jogger1.png" alt="" width="325px" height="350px">
                        <hr>
                        <p><s>22.00</s> 19.99$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jogger Pixie Retro
                    </div>
                    <div class="card-body">
                        <img src="../../img/jogger/jogger2.png" alt="" width="325px" height="350px">
                        <hr>
                        <p>24.99$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jogger Cargo
                    </div>
                    <div class="card-body">
                        <img src="../../img/jogger/jogger3.png" alt="" width="325px" height="350px">
                        <hr>
                        <p>24.99$</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row text-light espaciop">
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jogger Volpe 
                    </div>
                    <div class="card-body">
                        <img src="../../img/jogger/jogger4.png "alt="" width="325px" height="350px">
                        <hr>
                        <p>15.00$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jogger Volpe Dark
                    </div>
                    <div class="card-body">
                        <img src="../../img/jogger/jogger5.png" alt="" width="325px" height="350px">
                        <hr>
                        <p>26.00$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jooger Pixie Retro Morado

                    </div>
                    <div class="card-body">
                        <img src="../../img/jogger/jogger6.png" alt="" width="325px" height="350px">
                        <hr>
                        <p>24.99$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="container">
        <div class="row text-light espaciop">
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jogger Classic Verde
                    </div>
                    <div class="card-body">
                        <img src="../../img/jogger/jogger7.jpg "alt="" width="325px" height="350px">
                        <hr>
                        <p>18.99$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jogger Urbano
                    </div>
                    <div class="card-body">
                        <img src="../../img/jogger/jogger9.jpg" alt="" width="325px" height="350px">
                        <hr>
                        <p>18.99$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jogger Classic Cafe
                    </div>
                    <div class="card-body">
                        <img src="../../img/jogger/jogger8.jpg" alt="" width="325px" height="350px">
                        <hr>
                        <p> 18.99$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-light espaciop">
        <div class="col-sm-4">
            <div class="card bg-dark cuadro">
                <div class="card-header">
                   Sudera ANGELS
                </div>
                <div class="card-body">
                    <img src="../../img/hoodies/hoodie1.png" alt="" width="325px" height="350px">
                    <hr>
                    <p><s>26.00$</s> 23.99$</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card bg-dark cuadro">
                <div class="card-header">
                    Sudadera SOMETHING
                </div>
                <div class="card-body">
                    <img src="../../img/hoodies/hoodie2.png" alt="" width="325px" height="350px">
                    <hr>
                    <p>25.99$</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-dark cuadro">
                <div class="card-header">
                    Sudadera Blanca MOAA
                </div>
                <div class="card-body">
                    <img src="../../img/hoodies/hoodie3.png "alt="" width="325px" height="350px">
                    <hr>
                    <p>26.99$</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row text-light espaciop">
        <div class="col-sm-4">
            <div class="card bg-dark cuadro">
                <div class="card-header">
                    Sudadera DAEMON 
                </div>
                <div class="card-body">
                    <img src="../../img/hoodies/hoodie4.png "alt="" width="325px" height="350px">
                    <hr>
                    <p>25.99$</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-dark cuadro">
                <div class="card-header">
                    Sudadera Negra MOAA
                </div>
                <div class="card-body">
                    <img src="../../img/hoodies/hoodie5.png" alt="" width="325px" height="350px">
                    <hr>
                    <p>26.99$</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card bg-dark cuadro">
                <div class="card-header">
                    Sudadera EMPTINESS

                </div>
                <div class="card-body">
                    <img src="../../img/hoodies/hoodie6.png" alt="" width="325px" height="350px">
                    <hr>
                    <p>26.99$</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<div class="container">
<div class="container">
    <div class="row text-light espaciop">
        <div class="col-sm-4">
            <div class="card bg-dark cuadro">
                <div class="card-header">
                    Sudadera Skin Urbano
                </div>
                <div class="card-body">
                    <img src="../../img/hoodies/hoodie7.jpg"alt="" width="325px" height="350px">
                    <hr>
                    <p>27.99$</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card bg-dark cuadro">
                <div class="card-header">
                    Sudadera TRASHER
                </div>
                <div class="card-body">
                    <img src="../../img/hoodies/hoodie8.jpg" alt="" width="325px" height="350px">
                    <hr>
                    <p>25.99$</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-dark cuadro">
                <div class="card-header">
                    Sudadera OUTSIDE TV
                </div>
                <div class="card-body">
                    <img src="../../img/hoodies/hoodie9.png" alt="" width="325px" height="350px">
                    <hr>
                    <p>25.99$</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    <br>
    <hr size="5px" color="black">
    <!-- pie de pagina -->
    <br>
    <center>
        <footer class="fondopiepag">
            <div class="row colorletra">
                <div class="col-sm-4">
                    <div>
                        <div>
                            <p class="fuente">SERVICIO AL CLIENTE:</p>
                            <p><em>02 347 2222</em></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div>
                        <div>
                            <p class="fuente">EMAIL:</p>
                            <p><em>servicio.cliente@moaastyle.com</em></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="fuente">CONSULTA TU PEDIDO:</p>
                    <p><em>0984085112</em></p>
                </div>
            </div>
        </footer>
    </center>

    <!-- marca de agua -->
    <div class="fondopiepag">
        <center>
            <hr size="5px" color="black">
            <p class="silver-text">M.O.A.A STYLE</p>
            <br>
        </center>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>