<!DOCTYPE html>
<html lang="en">
<head>
    <title>MOAA Style</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/moaaxd.jpg')}}" width="5px">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estilos.css') }}">
</head>
<body class="fondo2">
        <center>
        <div class="fondo">
            <img src="{{ url_for('static', filename='img/logomoaa2.png') }}" class="img-fluid" alt="NO SALE LA PUTA IMAGEN" width="250px">
            </a>
        </div>

    </center>
    <nav class="navbar navbar-expand-lg bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{url_for('static', filename='img/moaa.1.png')}}" alt="" width="100" height="60">
            </a>
            <a class="navbar-brand text-light" href="/"> Inició </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('hombre')}}">Hombre</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('mujer')}}">Mujer</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('niño')}}">Niños</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('servicios')}}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('conocenos')}}">Conocenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('contactanos')}}">Contáctanos</a>
                    </li>
                    <i class="bi bi-cart-dash-fill"></i>
                </ul>
                <div class="contenedor-icono">
                    <a href="{{ url_for('carrito')}}">
                    <button type="button" class="btn btn-outline-success carrito" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/>
                    </svg></button></a>
                </div>
                <a href="{{ url_for('register')}}"><button type="button" class="btn btn-secondary">Crear Cuenta
                    </button></a>

                    
            </div>
        </div>

    </nav>
    <!-- inicio Carrucel -->
    <br>
    <center>
        <div class="carrucel">
            <br>
            <div class="container">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <center>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <img src="{{url_for('static', filename='img/t-shirt/t-shirt12.png')}}" class="d-block w-60" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="text-light">T-SHIRT</h5>
                                    <p class="text-light animacion2">FEMTO</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{{url_for('static', filename='img/colecciones/coleccion1.png')}}" class="d-block w-60" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="text-light">SHORT</h5>
                                    <p class="text-light animacion2">VOLPE SAVAGE</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static', filename='img/jeans/jean2.jpg')}}" class="d-block w-60" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="text-light">JOGGER</h5>
                                    <p class="text-light animacion2">PIXE RETRO GREEN</p>
                                </div>
                            </div>
                        </div>
                    </center>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <br>
            <center>
                <em>
                    <h1 class="text-light letra2">MOAA STYLE VISTE A TU RITMO</h1>
                </em>
            </center>
            <br>
        </div>
        </div>
    </center>
    <!-- columnas para algunos productos -->
    <center>
        <img src="{{url_for('static', filename='img/rostrodra.png')}}" alt="">
        <hr size="5px" color="black">
    </center>
    <div class="container">
        <div class="row text-light">
            <h3 class="item  icono">Hombre</h3>
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Camiseta de manga corta
                    </div>
                    <div class="card-body">
                        <a href="{{ url_for('register')}}"><img src="{{url_for('static', filename='img/t-shirt/t-shir1.png')}}" alt="" width="325px"
                                height="350px"></a>
                        <hr>
                        <p> <s>20.00$</s> 18.99$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jogger Cargo
                    </div>
                    <div class="card-body">
                        <a href="../usuarios/login.html"><img src="{{url_for('static', filename='img/jogger/jogger1.png')}}" alt="" width="325px"
                                height="350px"></a>
                        <hr>
                        <p><s>22.00$</s> 19.99$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Sudadera
                    </div>
                    <div class="card-body">
                        <a href="../usuarios/login.html"><img src="{{url_for('static', filename='img/hoodies/hoodie1.png')}}" alt="" width="325px"
                                height="350px"></a>
                        <hr>
                        <p><s>26.00</s> 23.99$</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row text-light">
            <h3 class="item icono">Mujer</h3>
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jean Black Soul
                    </div>
                    <div class="card-body">
                        <a href="../usuarios/login.html"><img src="{{url_for('static', filename='img/jeans/jean1.jpg')}}" alt=""
                                width="325px" height="350px"></a>
                        <hr>
                        <p>7.00$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Jean Warm Soul
                    </div>
                    <div class="card-body">
                        <a href="../usuarios/login.html"><img src="{{url_for('static', filename='img/jeans/jean2.jpg')}}" alt=""
                                width="325px" height="350px"></a>
                        <hr>
                        <p>10.00$</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card bg-dark cuadro">
                    <div class="card-header">
                        Blue Jean Cargo
                    </div>
                    <div class="card-body">
                        <a href="../usuarios/login.html"><img src="{{url_for('static', filename='img/jeans/jean3.jpg')}}" alt=""
                                width="325px" height="350px"></a>
                        <hr>
                        <p>8.99$</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-light index">
                <h3 class="item icono">Niños</h3>
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Sudera Minecraft
                        </div>
                        <div class="card-body">
                            <a href="../usuarios/login.html"><img src="{{url_for('static', filename='img/niños/hoodie1.jpg')}}" alt="" width="375px"
                                    height="350px"></a>
                            <hr>
                            <p>124.99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Camisa Minecraft
                        </div>
                        <div class="card-body">
                            <a href="../usuarios/login.html"><img src="{{url_for('static', filename='img/niños/hoodie1.jpg')}}" alt="" width="375px"
                                    width="325px" height="350px"></a>
                            <hr>
                            <p>79.99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark cuadro">
                        <div class="card-header">
                            Jogger Kid Minecraft
                        </div>
                        <div class="card-body">
                            <a href="../usuarios/login.html"><img src="{{url_for('static', filename='img/niños/pantalon2.jpg')}}" alt="" width="375px"
                                    height="350px"></a>
                            <hr>
                            <p>74.99$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
                <div class="col-sm-4">
                
                </div>
                <div class="col-sm-4 ">
                    
                </div>
            </div>
    <br>
    <!-- redes flotantes -->
    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <img src="{{url_for('static', filename='img/facebook.png')}}" width="32" height="32">
                <p><a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
            </li>
            <li>
                <img src="{{url_for('static', filename='img/gorjeo.png')}}" width="32" height="32">
                <p><a href="https://twitter.com/noprog" target="_blank">Twitter</a></p>
            </li>
            <li>
                <img src="{{url_for('static', filename='img/instagram.png')}}" width="32" height="32">
                <p><a href="https://www.instagram.com/" target="_blank">Instagram</a></p>
            </li>
            <li>
                <img src="{{url_for('static', filename='img/tik-tok.png')}}" width="32" height="32">
                <p><a href="https://www.tiktok.com/" target="_blank">Tik tok</a></p>
            </li>
    </div>
    <!-- pie de pagina -->
    <br>
    <center>
        <footer class="fondopiepag">
            <div class="row colorletra">
                <div class="col-sm-4">
                    <div>
                        <div>
                            <p class="fuente">SERVICIO AL CLIENTE:</p>
                            <p><em>02 347 2222</em></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div>
                        <div>
                            <p class="fuente">EMAIL:</p>
                            <p><em>servicio.cliente@moaastyle.com</em></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="fuente">CONSULTA TU PEDIDO:</p>
                    <p><em>0984085112</em></p>
                </div>
            </div>
        </footer>
    </center>
    <!-- marca de agua -->
    <div class="fondopiepag">
        <center>
            <hr size="5px" color="black">
            <p class="silver-text">M.O.A.A STYLE</p>
            <br>
        </center>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
        

</body>
</html>