<!DOCTYPE html>
<html lang="en">

<head>
    <title>MOAA Style - Productos - Hombre</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/moaaxd.jpg')}}" width="5px">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estilos.css') }}">
</head>

<body class="fondo2">
    <center>
        <div class="fondo">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/logomoaa2.png') }}" class="img-fluid" alt="NO SALE LA PUTA IMAGEN" width="250px">
            </a>
        </div>
        <!-- menu -->
    </center>
    <div class="cabecera">
    </div>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{url_for('static', filename='img/moaa.1.png')}}" alt="" width="100" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('hombre')}}">Hombre</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('mujer')}}">Mujer</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('niño')}}">Niños</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('servicios')}}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('conocenos')}}">Conocenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('contactanos')}}">Contáctanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <center>
    <div class="container">
        <br>
        <div class="col-md-5">
            <div class="row login"> 
                <div class="card registro">
                    <div class="card-body">
                    <center>
                        <h3 class="letra2">TU CUENTA PARA TODO LO RELACIONADO CON MOAA STYLE</h3>
                    </center>
                    <hr>
        <form id="formulario" method="POST" action ="">
            <div class="contenedor">
                <div class="input-contenedor">
                    {{ form.hidden_tag() }}
                    <i class="fas fa-envelope icon"></i>
                    {{ form.username }}
                </div>
                
                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group">
                    <center>
                    <button type="button" class="btn btn-secondary">{{ form.submit }}</button>
                    <a href="{{ url_for('register')}}"><button type="button" class="btn btn-primary">Crear Cuenta</button></a>                    
            </div>    
        </div>
    </div>
</div>
    </div>
        </div>
            </form>

</body>

</html>