<!doctype html>
<html lang="en">

<head>
    <title>MOAA Style - Servicios</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/moaaxd.jpg')}}" width="5px">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estilos.css') }}">
</head>

<body class="fondo2">
    <center>
        <div class="fondo">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/logomoaa2.png') }}" class="img-fluid" alt="NO SALE LA PUTA IMAGEN" width="250px">
            </a>
        </div>
        <!-- menu -->
    </center>
    <div class="cabecera">
    </div>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{url_for('static', filename='img/moaa.1.png')}}" alt="" width="100" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('hombre')}}">Hombre</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('mujer')}}">Mujer</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('niño')}}">Niños</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('servicios')}}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('conocenos')}}">Conocenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('contactanos')}}">Contáctanos</a>
                    </li>
                </ul>
                <a href="{{ url_for('login')}}"><button class="btn btn-secondary">Iniciar Sesión
                    </button></a>
            </div>
        </div>
    </nav>
    <!-- menu2 -->
    <nav class="navbar navbar-expand fondo3">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active text-light" href="/">Inicio <span
                    class="visually-hidden">(current)</span></a>
        </div>
        <div class="text-light">
            / Servicios 
        </div>
    </nav>
    <!-- servicios -->
    <br>
    <center>
        <div class="servicios info text-light">
            <h3 class="letracono">Servicios</h3>
        <hr>
        <p>MOAA Style ofrece ropa de estilo propio para que vistas como te guste.</p>
        <p>En MOAA Style realizamos entregas domicilió con un costo extra.</p>
        <p>En MOAA Style la entrega llega a ser gratis si compras 3 o mas productos </p>
        <p>En MOAA Style puedes armar tu Outfit a tu gusto o a recomendación de nosotros.</p>
        <br>
        </div>
    </center>
    <br>
        <!-- redes flotantes -->
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <img src="{{url_for('static', filename='img/facebook.png')}}" width="32" height="32">
                <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                </li>
                <li>
                    <img src="{{url_for('static', filename='img/gorjeo.png')}}" width="32" height="32">
                <a href="https://twitter.com/noprog" target="_blank">Twitter</a>
                </li>
                <li>
                    <img src="{{url_for('static', filename='img/instagram.png')}}" width="32" height="32">
                <a href="https://www.instagram.com/" target="_blank">Instagram</a>
                </li>
                <li>
                    <img src="{{url_for('static', filename='img/tik-tok.png')}}" width="32" height="32">
                <a href="https://www.tiktok.com/" target="_blank">Tik tok</a>
                </li>
        </div>
    
        <!-- pie de pagina -->
        <br>
        <center>
            <footer class="fondopiepag">
                <div class="row colorletra">
                    <div class="col-sm-4">
                        <div>
                            <div>
                                <p class="fuente">SERVICIO AL CLIENTE:</p>
                                <p><em>02 347 2222</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div>
                            <div>
                                <p class="fuente">EMAIL:</p>
                                <p><em>servicio.cliente@moaastyle.com</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p class="fuente">CONSULTA TU PEDIDO:</p>
                        <p><em>0984085112</em></p>
                    </div>
                </div>
            </footer>
        </center>
    
        <!-- marca de agua -->
        <div class="fondopiepag">
            <center>
                <hr size="5px" color="black">
                <p class="silver-text">M.O.A.A STYLE</p>
                <br>
            </center>
        </div>
        <!-- Bootstrap JavaScript Libraries -->
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"></script>
    </body>
    
    </html>